name: Test - Skip tests
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  run:
    runs-on: ubuntu-latest
    concurrency:
      group: "test-skip-tests-${{ github.head_ref || github.ref }}"
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./
        with:
          client: go-ethereum
          simulator: ethereum/sync
          workflow_artifact_upload: true
          skip_tests: true
